/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* for all */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* Home page start */
.container{
  gap: 5px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width:1280px;
  align-items: center;
}

.home-images img{
  width: 100%;
}

.home-textArea{
  display: flex;
  flex-direction: column;
}

.home-textArea h1{
  color: #000;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  white-space: nowrap;
}

.home-textArea button{
  gap: 10px;
  width: 220px;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 5px;
  background: #000;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.4s background ease-in;

}

.home-textArea button:hover{
  color: #000;
  background: #fff;
  border: 1px solid #000;
  transition: 0.3s background ease-in;
}
/* Home page end */

/*  game play page start*/

.top-section{
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1280px;
  align-items: center;
  /* background-color: bisque; */
  justify-content: space-between;
}
/* Total scrore section start*/

.score_section{
  max-width: 200px;
  text-align: center;
  /* background-color: aqua; */
}

.score_section h1{
  color: #000;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  line-height: 100px;
}

.score_section p{
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
/* Total scrore section end*/

/* Number selector section start */
.NumberSelector{
  gap: 5px;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.numbers-text-top {
  font-size: 24px;
  color: #FF0C0C;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.numbers{
  gap: 50px;
  display: flex;
}

.box{
  width: 72px;
  height: 72px;
  display: flex;
  padding: 18px 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  
  /* tupography */
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.numbers-text-bottom p{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

/* Number selector section end */

/* role dice section start */
.role-dice{
  margin-top: 48px;
  text-align: center;
}

.dice{
  display: inline-block;
}

.role-dice p{
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
/* role dice section end */

/*  game play page end*/



